# 1. Set Up

**Install pymongo drive**

In [ ]:
!pip install -q pymongo

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.2/1.2 MB 7.7 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 307.7/307.7 kB 11.6 MB/s eta 0:00:00

**Add connection**

In [ ]:
# Import the corresponding libraries
from pymongo import MongoClient
from pymongo.server_api import ServerApi

# Set the uri
uri = "mongodb+srv://group1:122333@cluster0-cs5200-gp2.o5pzhex.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0-CS5200-GP2"

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

# 2. Import JSON file

In [ ]:
# Import JSON library
import json

# Create db and collection
database = client['publications']

connection = database['articles']

# Remove all documents from the collection
delete_result = connection.delete_many({})

# Read and load the JSON file
#with open('/content/CS5200_GP2/publications.json', 'r') as f:
with open('publications.json', 'r') as f:
    data = json.load(f)

# Extract the list of articles
articles_data = data.get('PubmedArticle', [])

# Insert the data into the collection
if articles_data:
    result = connection.insert_many(articles_data)
    print(f"Number of documents inserted: {len(result.inserted_ids)}")
else:
    print("No articles found in the JSON data.")

# Retrieve all documents and print the first one
retrieved_articles = list(connection.find())
if retrieved_articles:
    print("First retrieved article:")
    print(retrieved_articles[0])
else:
    print("No articles found in the collection.")

FileNotFoundError: [Errno 2] No such file or directory: 'publications.json'

**Create Sqlite Database Connection and Build Up Database**

In [ ]:
import sqlite3
from sqlite3 import Error

def create_sqlite_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection successful")
    except Error as e:
        print(f"The error '{e}' occurred")
    return connection

connection = create_sqlite_connection('project2.db')
cursor = connection.cursor()

# Drop existing tables if they exist
cursor.execute('PRAGMA foreign_keys = ON;')
cursor.execute('DROP TABLE IF EXISTS Author_Article')
cursor.execute('DROP TABLE IF EXISTS Author')
cursor.execute('DROP TABLE IF EXISTS Article')
cursor.execute('DROP TABLE IF EXISTS Journal')
cursor.execute('DROP TABLE IF EXISTS History')
cursor.execute('DROP TABLE IF EXISTS Summary_Month')
cursor.execute('DROP TABLE IF EXISTS Summary_Year')

# Create table History
cursor.execute('''
CREATE TABLE IF NOT EXISTS History (
  history_id INTEGER PRIMARY KEY AUTOINCREMENT,
  received_date DATE NOT NULL,
  publication_date DATE NOT NULL
);
''')

# Create table Journal
cursor.execute('''
CREATE TABLE IF NOT EXISTS Journal(
  journal_id TEXT PRIMARY KEY,
  title TEXT NOT NULL,
  country TEXT NOT NULL
);
''')

# Create table Author
cursor.execute('''
CREATE TABLE IF NOT EXISTS Author(
  first_name TEXT NOT NULL,
  last_name TEXT NOT NULL,
  affiliation TEXT,
  PRIMARY KEY (first_name, last_name)
);
''')

# Create table Article
cursor.execute('''
CREATE TABLE IF NOT EXISTS Article(
  article_id INTEGER PRIMARY KEY,
  history_id INTEGER NOT NULL,
  journal_id INTEGER NOT NULL,
  title TEXT NOT NULL,
  FOREIGN KEY (history_id) REFERENCES History(history_id) ON DELETE RESTRICT,
  FOREIGN KEY (journal_id) REFERENCES Journal(journal_id) ON DELETE RESTRICT
);
''')

# Create table Author_Article
cursor.execute('''
CREATE TABLE IF NOT EXISTS Author_Article(
  first_name TEXT,
  last_name TEXT,
  article_id INTEGER,
  PRIMARY KEY (first_name, last_name, article_id),
  FOREIGN KEY (article_id) REFERENCES Article(article_id) ON DELETE CASCADE,
  FOREIGN KEY (first_name, last_name) REFERENCES Author(first_name, last_name) ON DELETE CASCADE
);
''')

# Create summary table - by month
cursor.execute('''
CREATE TABLE IF NOT EXISTS Summary_Month(
  month Date Primary Key,
  articles_received INTEGER NOT NULL
);
''')

# Create summary table - by year
cursor.execute('''
CREATE TABLE IF NOT EXISTS Summary_Year(
  year Date Primary Key,
  articles_received INTEGER NOT NULL
);
''')

connection.commit()

Connection successful

Check if tables and constraints successfully created and added

In [ ]:
# Function to check table schemas
def check_table_schema(table_name):
    cursor.execute(f'PRAGMA table_info({table_name});')
    schema = cursor.fetchall()
    print(f"Schema for {table_name}:")
    for column in schema:
        print(column)
    print("\n")

# Check schemas for all tables
tables = ['History', 'Journal', 'Article', 'Author', 'Author_Article', 'Summary_Month', 'Summary_Year']
for table in tables:
    check_table_schema(table)

# Function to check constraints
def check_constraints():
    cursor.execute("PRAGMA foreign_key_list('Article')")
    constraints = cursor.fetchall()
    for constraint in constraints:
        print(f"ID: {constraint[0]}")
        print(f"Table: {constraint[2]}")
        print(f"From: {constraint[3]}")
        print(f"To: {constraint[4]}")
        print(f"On Update: {constraint[5]}")
        print(f"On Delete: {constraint[6]}")
        print(f"Match: {constraint[7]}\n")

    cursor.execute("PRAGMA foreign_key_list('Author_Article')")
    constraints = cursor.fetchall()
    for constraint in constraints:
        print(f"ID: {constraint[0]}")
        print(f"Table: {constraint[2]}")
        print(f"From: {constraint[3]}")
        print(f"To: {constraint[4]}")
        print(f"On Update: {constraint[5]}")
        print(f"On Delete: {constraint[6]}")
        print(f"Match: {constraint[7]}\n")

check_constraints()

Schema for History:
(0, 'history_id', 'INTEGER', 0, None, 1)
(1, 'received_date', 'DATE', 1, None, 0)
(2, 'publication_date', 'DATE', 1, None, 0)


Schema for Journal:
(0, 'journal_id', 'TEXT', 0, None, 1)
(1, 'title', 'TEXT', 1, None, 0)
(2, 'country', 'TEXT', 1, None, 0)


Schema for Article:
(0, 'article_id', 'INTEGER', 0, None, 1)
(1, 'history_id', 'INTEGER', 1, None, 0)
(2, 'journal_id', 'INTEGER', 1, None, 0)
(3, 'title', 'TEXT', 1, None, 0)


Schema for Author:
(0, 'first_name', 'TEXT', 1, None, 1)
(1, 'last_name', 'TEXT', 1, None, 2)
(2, 'affiliation', 'TEXT', 0, None, 0)


Schema for Author_Article:
(0, 'first_name', 'TEXT', 0, None, 1)
(1, 'last_name', 'TEXT', 0, None, 2)
(2, 'article_id', 'INTEGER', 0, None, 3)


Schema for Summary_Month:
(0, 'month', 'Date', 0, None, 1)
(1, 'articles_received', 'INTEGER', 1, None, 0)


Schema for Summary_Year:
(0, 'year', 'Date', 0, None, 1)
(1, 'articles_received', 'INTEGER', 1, None, 0)


ID: 0
Table: Journal
From: journal_id
To: journal_id
On Update: NO ACTION
On Delete: RESTRICT
Match: NONE

ID: 1
Table: History
From: history_id
To: history_id
On Update: NO ACTION
On Delete: RESTRICT
Match: NONE

ID: 0
Table: Author
From: first_name
To: first_name
On Update: NO ACTION
On Delete: CASCADE
Match: NONE

ID: 0
Table: Author
From: last_name
To: last_name
On Update: NO ACTION
On Delete: CASCADE
Match: NONE

ID: 1
Table: Article
From: article_id
To: article_id
On Update: NO ACTION
On Delete: CASCADE
Match: NONE

**Retrieve and Upload the Data**

In [ ]:
from datetime import datetime

def format_date(date_dict):
    return datetime(year=date_dict['Year'], month=date_dict['Month'], day=date_dict['Day']).strftime('%Y-%m-%d')

In [ ]:
for article in retrieved_articles:

    history = []
    received_date = article.get("PubmedData",{}).get("History",{}).get("PubMedPubDate",{})[0]
    received_date = format_date(received_date)
    published_date = article.get("MedlineCitation",{}).get("Article", {}).get("ArticleDate")
    if not published_date:
      published_date = article.get("PubmedData",{}).get("History",{}).get("PubMedPubDate",{})[-1]
    published_date = format_date(published_date)
    history.append(received_date)
    history.append(published_date)

    cursor.execute('''
        INSERT OR IGNORE INTO History (
            received_date,
            publication_date
        ) VALUES (?, ?)
        ''', history)

    cursor.execute('''
          SELECT history_id FROM History WHERE
            received_date = ? AND publication_date = ?
          ''', history)
    history_id = cursor.fetchone()[0]

    journal = []
    journal_id = article.get("MedlineCitation",{}).get("Article", {}).get("Journal",{}).get("ISSN")
    journal_title = article.get("MedlineCitation",{}).get("Article", {}).get("Journal",{}).get("Title")
    journal_country = article.get("MedlineCitation",{}).get("MedlineJournalInfo",{}).get("Country")
    journal.append(journal_id)
    journal.append(journal_title)
    journal.append(journal_country)
    cursor.execute('''
        INSERT OR IGNORE INTO Journal (
            journal_id,
            title,
            country
        ) VALUES (?, ?, ?)
        ''', journal)


    article_list = []
    article_id = article.get('MedlineCitation', {}).get("PMID")
    article_title = article.get("MedlineCitation",{}).get("Article", {}).get("ArticleTitle")
    article_list.append(article_id)
    article_list.append(history_id)
    article_list.append(journal_id)
    article_list.append(article_title)
    cursor.execute('''
      INSERT OR IGNORE INTO Article (
            article_id,
            history_id,
            journal_id,
            title
      ) VALUES (?, ?, ?, ?)
      ''', article_list)

    authors_list = []
    authors = article.get('MedlineCitation', {}).get('Article', {}).get('AuthorList', {}).get('Author', [])
    for author in authors:
        lastname = author.get('LastName', '')
        forename = author.get('ForeName', '')
        affiliation = author.get('Affiliation', None)
        author_info = [lastname, forename, affiliation]
        cursor.execute('''
          INSERT OR IGNORE INTO Author (
            last_name,
            first_name,
            affiliation
          ) VALUES (?, ?, ?)
          ''', author_info)

        cursor.execute('''
          SELECT author_ID FROM Author WHERE
            last_name = ? AND first_name = ? AND affiliation IS ?
          ''', author_info)

        author_id = cursor.fetchone()[0]

        cursor.execute('''
        INSERT OR IGNORE INTO Author_Article (
            author_id,
            article_id
        ) VALUES (?, ?)
        ''', [author_id, article_id])

In [ ]:
def execute_sql_cursor(sqlite_connection, query):
    cursor = sqlite_connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as e:
        print(f"The error '{e}' occurred")

In [ ]:
# sanity check
query = """
SELECT
    last_name, first_name, affiliation
FROM Author, Article, Author_Article WHERE Article.article_id = 23874253 AND Author.author_id = Author_Article.author_id AND Author_Article.article_id = Article.article_id;
"""

result_set = execute_sql_cursor(connection, query)

for line in result_set:
  print(line)

print("")

query = """
SELECT
    received_date, publication_date
FROM History, Article WHERE Article.article_id = 23874253 AND Article.history_id = History.history_id;
"""

result_set = execute_sql_cursor(connection, query)

for line in result_set:
  print(line)

print("")

query = """
SELECT
    Journal.journal_id,
    Journal.title,
    Journal.country
FROM Journal, Article WHERE Article.article_id = 23874253 AND Article.journal_id = Journal.journal_id;
"""

result_set = execute_sql_cursor(connection, query)

for line in result_set:
  print(line)

('Kuo', 'Cassie', 'Department of Anesthesiology, Hospital for Special Surgery, 535 East 70th Street, New York, NY 10021 USA.')
('Edwards', 'Alison', None)
('Mazumdar', 'Madhu', None)
('Memtsoudis', 'Stavros G', None)

('2012-01-15', '2012-06-20')

('1556-3316', 'HSS journal : the musculoskeletal journal of Hospital for Special Surgery', 'United States')

In [ ]:
query = """
SELECT
    strftime('%m', received_date) AS month,
    COUNT(*) AS received_by_month
FROM History
GROUP BY month
ORDER BY month;
"""

result_set = execute_sql_cursor(connection, query)

for line in result_set:
  print(line)

NameError: name 'connection' is not defined

# 3. Result/Trend Analysis

*   Number of publications per month grouped by author, journal, affiliation
*   Number of publications per year - doesn't work because only two years
*   Top journals, rank by month?
*   Number of articles received per month
*   Number of days between received and published grouped by date received, journal, author, number of authors on article (potential summary table)

**Close Connection**

In [ ]:
# Close the connection (will move to the very end of the document once more sections are added)
client.close()
connection.close()